@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

@font-face {
  font-family: "SanFranciscoDisplay-Bold";
  src: url('../fonts/SanFranciscoDisplay-Bold.otf') format("opentype");
}
@font-face {
  font-family: "SanFranciscoDisplay-Light";
  src: url('../fonts/SanFranciscoDisplay-Light.otf') format("opentype");
}
@font-face {
  font-family: "SanFranciscoDisplay-Medium";
  src: url('../fonts/SanFranciscoDisplay-Medium.otf') format("opentype");
}
@font-face {
  font-family: "SanFranciscoText-Regular";
  src: url('../fonts/SanFranciscoText-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SanFranciscoText-Light";
  src: url('../fonts/SanFranciscoText-Light.otf') format("opentype");
}
@font-face {
  font-family: "SanFranciscoDisplay-Regular";
  src: url('../fonts/SanFranciscoDisplay-Regular.otf') format("opentype");
}

.architecture-page {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 2016px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.architecture-page .group5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 92px;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  z-index: 1; 
}
.architecture-page .group5 .rectangle {
  background          : rgba(0, 0, 0, 1.0);
  top                 : 91px;
  height              : 1px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.architecture-page .group5 .view1 {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 90px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.architecture-page .group5 .global-war-museum {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 34px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  font-family         : "SanFranciscoDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : justify;
  line-height         : 24.0px;
}
.architecture-page .group5 .more-architecture-wo {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 34px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  right                : 50px;
  font-family         : "SanFranciscoDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : right;
  line-height         : 24.0px;
  text-decoration     : underline;
}
.architecture-page .group5 .group3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.architecture-page .group5 .group3 .view2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 26px;
}
.architecture-page .group5 .group3 .group2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
}
.architecture-page .group5 .group3 .group2 .group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 17px;
  width               : 17px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.architecture-page .group5 .group3 .group2 .group .page1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 17px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.architecture-page .group4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 93px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;

}
.architecture-page .group4 .rectangle10 {
  background          : rgba(249, 249, 249, 1.0);
  top                 : 0px;
  height              : 630px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}